<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>netdisk-共享网盘-lxy</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>

    <!--引用部分代码，便于html和js分开-->
    <script type="text/javascript" th:src="@{/js/upload.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

</head>


<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="color: rgba(255, 255, 255, .7);">共享网盘</div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="#2">
                    <img th:src="@{/images/picture.jpg}" class="layui-nav-img">
                    <cite th:text="${session.name}" id="username1"></cite>
                    <cite th:text="${session.id}" id="uid1" hidden></cite>
                    <cite th:text="${session.usedMemory}" id="usedMemory1" hidden></cite>
                    <cite th:text="${session.totalMemory}" id="totalMemory1" hidden></cite>
                    <cite th:text="${session.syspath}" id="path1" hidden></cite>
                    <cite th:text="${session.curpath}" id="path2" hidden></cite>
                    <cite th:text="${session.page}" id="page1" hidden></cite>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/redirect/user/personalCenter">个人资料</a></dd>
                    <dd><a href="/redirect/user/updatePassword2">修改二级密码</a></dd>
                    <dd><a href="">帮助中心</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a onclick="logout()">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <div style="float: top">
                    <li class="layui-nav-item layui-bg-green"><a name="page" id="all" onclick="allfiles(0)"><i
                            class="layui-icon layui-icon-file"
                            style="font-size: 17px; color: white;"></i>&nbsp;&nbsp;全部文件</a></li>
                    <li class="layui-nav-item"><a name="page" id="picture" onclick="picture(1)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图片</a>
                    </li>
                    <li class="layui-nav-item"><a name="page" id="word" onclick="word(2)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文档</a>
                    </li>
                    <li class="layui-nav-item"><a name="page" id="video" onclick="video(3)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;视频</a>
                    </li>
                    <li class="layui-nav-item"><a name="page" id="torrent" onclick="torrent(4)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;种子</a>
                    </li>
                    <li class="layui-nav-item"><a name="page" id="music" onclick="music(5)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;音乐</a>
                    </li>
                    <li class="layui-nav-item"><a name="page" id="other" onclick="other(6)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其它</a>
                    </li>
                    <li class="layui-nav-item"><a name="page" id="myshare" onclick="myshare(7)"><i
                            class="layui-icon layui-icon-share"
                            style="font-size: 17px; color: white;"></i>&nbsp;&nbsp;我的分享</a>
                    </li>
                    <li class="layui-nav-item">
                        <a name="page" id="acceptShare" onclick="acceptShare(8)">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;接收分享
                        </a>
                    </li>
                    <li class="layui-nav-item"><a id="recyclebin" onclick="recyclebin(8)"><i
                            class="layui-icon layui-icon-delete"
                            style="font-size: 17px; color: white;"></i>&nbsp;&nbsp;回收站</a>
                    </li>
                </div>


                <div style="position:relative;margin-top:30%;">
                    <div style="padding-left: 20px;padding-right: 20px;">
                        <div class="layui-progress layui-progress" lay-filter="percent">
                            <div class="layui-progress-bar" lay-percent="0%"></div>
                        </div>
                        <li style="padding-top: 5px;">
                            <a style="color:#fff;" id="text1"></a>
                            <a onclick="expand()" style="margin-left:25%;color:#009688;">扩容</a>
                        </li>
                    </div>
                </div>



            </ul>
        </div>
    </div>


    <div class="layui-body" style="bottom: 0;overflow-y: hidden;">
        <!--&lt;!&ndash; 内容主体区域 &ndash;&gt;
        <div>
            <iframe src="" id="iframe" width="100%" height="100%" style="border: none;overflow: hidden;"></iframe>
        </div>-->
    </div>
</div>
</body>


<!--页面切换-->
<script type="text/javascript">
    var page = document.getElementById("page1").innerText;

    layui.use('element', function () {
        var element = layui.element;
    });

    //默认首页
    $(function () {
        //$("#iframe").attr("src", "/redirect/user"+page)
        // chgcl() //改变导航栏颜色
    })

    //全部页面
    function allfiles(index) {
        var syspath = document.getElementById("path1").innerText

        //修改session.curpath
        $.ajax({
            type: "post",
            url: "/user/chgPath",
            data: {
                path: syspath
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })

        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/all"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })

        window.location.reload()
    }

    //图片页面
    function picture(index) {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/picture"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })

        window.location.reload()
    }

    //文档页面
    function word() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/word"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }

    //视频页面
    function video() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/video"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }

    //种子页面
    function torrent() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/torrent"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }

    //音乐页面
    function music() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/music"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }

    //其它页面
    function other() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/other"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }

    //我的分享页面
    function myshare() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/myshare"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }

    //接收分享页面，todo
    function acceptShare() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/acceptShare"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }

    //回收站页面
    function recyclebin() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/recyclebin"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }

    //个人页面
    function userInfo() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/userInfo"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }

    //扩容页面，todo
    function expand() {
        //修改session.page
        $.ajax({
            type: "post",
            url: "/user/chgPage",
            data: {
                page: "/expand"
            },
            success: function () {
            },
            error: function () {
                alert("请求失败!");
            }
        })
        window.location.reload()
    }
</script>


<!--功能函数-->
<script>
    //退出登录
    function logout() {
        $.ajax({
            type: "post",
            url: "/netdisk/logout",
            data: {},
            dataType: "text",
            success: function (msg) {
                if (msg == "1") {
                    window.location.href = "/login";
                } else {
                    alert("登出失败!");
                }
            },
            error: function () {
                alert("请求失败!");
            }
        })
    }

    //容量、进度条
    window.onload = function capacity() {
        var uid = document.getElementById("uid1").innerText

        $.ajax({
            type: "get",
            url: "/user/updateUsedMemory",
            data: {
                uid: uid
            },
            dataType: 'text',
            success: function (msg) {
                var total = document.getElementById("totalMemory1").innerText;
                var percent = msg / total
                percent = percent * 100

                layui.use('element', function () {
                    var element = layui.element;
                    element.progress('percent', percent + '%')
                });

                //由字节换算成G，保留两位小数
                msg = msg / 1073741824
                total = total / 1073741824

                var text = msg.toFixed(2) + 'G/' + total.toFixed(2) + 'G';
                document.getElementById("text1").innerText = text;
            },
            error: function () {
                alert("请求失败!");
            }
        })
    }

   /* //改变左边导航栏颜色
    function chgcl() {
        var page = document.getElementById("page1").innerText
        var pageName = "" + page
        pageName = pageName.substring(1)
        //console.log(pageName)

        document.getElementById("all").style.color = "#fff"
        document.getElementById("picture").style.color = "#fff"
        document.getElementById("word").style.color = "#fff"
        document.getElementById("video").style.color = "#fff"
        document.getElementById("torrent").style.color = "#fff"
        document.getElementById("music").style.color = "#fff"
        document.getElementById("other").style.color = "#fff"
        document.getElementById("myshare").style.color = "#fff"
        document.getElementById("acceptShare").style.color = "#fff"
        document.getElementById("recyclebin").style.color = "#fff"


        document.getElementById(pageName).style.color = "#009688"
    }*/
    
    //iframe高度自适应
    function changeHeight() {
        var iframe=document.getElementById("iframe")
        iframe.height=window.innerHeight
    }

    $(function () {
        var iframe=document.getElementById("iframe")
        iframe.height=window.innerHeight
    })
</script>
</html>