<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心</title>
    <cite id="name" th:text="${session.name}" hidden></cite>
    <cite id="picture0" th:text="${session.picture}" hidden></cite>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

    <style>
        .pchover{
            border-color: rgba(0,0,0,0.15);
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
        }

        .pchover:hover{
            border-color: #1E9FFF;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
        }
    </style>
</head>


<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="color: white"><!--<img th:src="@{/images/baidu.jpg}"  class="logo"></img>-->
            个人中心
        </div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="">返回首页</a></li>
            <li class="layui-nav-item">
                <a href="#2">
                    <img th:src="@{/images/picture.jpg}" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a onclick="logout()">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>


    <!-- 内容主体区域 -->
    <div class="layui-body">
        <div class="layui-layout-body">
            <div class="layui-layout layui-layout-admin">
                <div class="layui-side layui-bg-black">
                    <div class="layui-side-scroll">
                        <!-- 左侧导航区域（可配合layui已有的垂直导航） &ndash;&gt;-->
                        <ul class="layui-nav layui-nav-tree" lay-filter="test">
                            <div style="float: top">
                                <div align="center" style="padding-top:15%;padding-bottom:10%;">
                                    <img th:src="@{/images/picture.jpg}" class="layui-circle"
                                         style="display: block;padding-bottom: 5%;" width="30%" height="30%">
                                    <p th:text="${session.name}"
                                       style="display: block;font-size: large;font-weight: bolder;padding-bottom:5%;"></p>
                                </div>

                                <li class="layui-nav-item"><a href="/updatePassword1"><p style="float: left;color: white">登录密码</p>
                                    <p style="float:right;font-size: 10px">已设置 ></p></a></li>

                                <li class="layui-nav-item"><a href="/phoneBinding"><p style="float: left;color: white">绑定手机</p>
                                    <p style="float:right;font-size: 10px" id="phone1"></p></a></li>

                                <li class="layui-nav-item"><a href="/emailBinding"><p style="float: left;color: white">绑定邮箱</p>
                                    <p style="float:right;font-size: 10px" id="email1">已设置 ></p></a></li>

                                <li class="layui-nav-item"><a href=""><p style="float: left;color: white">账号申诉</p>
                                    <p style="float:right;font-size: 10px">已设置 ></p></a></li>

                                <li class="layui-nav-item"><a href=""><p style="float: left;color: white">账号注销</p>
                                    <p style="float:right;font-size: 10px">已设置 ></p></a></li>
                            </div>
                        </ul>
                    </div>
                </div>


                <div class="layui-body" style="bottom: 0px;">
                    <div style="padding: 20px; background-color: #F2F2F2;">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-card" style="border-radius: 10px">
                                    <div class="layui-card-body">

                                        <div class="layui-card layui-bg-blue" style="border-radius: 10px">
                                            <div class="layui-card-body">
                                                <div id="score1" style="display:inline;font-size: 70px;"></div>

                                                <div style="display: inline-block">
                                                    <div id="test1" style="display: block;"></div>
                                                    <p style="display: block">信息完整度评分</p>
                                                </div>

                                                <div style="float:right;display: flex;align-items: center;transform: translateY(45%);padding-right: 5%;">
                                                    <button type="button"
                                                            class="layui-btn layui-btn-radius layui-btn-primary">&nbsp;&nbsp;检测&nbsp;&nbsp;
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="layui-row layui-col-space30">
                                            <div class="layui-col-md6">
                                                <div class="layui-card pchover">
                                                    <div class="layui-card-body" onclick=window.location="/updatePassword1">
                                                        <p style="display: inline-block;font-size: 16px;">设置密码</p>
                                                        <i class="layui-icon layui-icon-ok-circle"
                                                           style="font-size: 16px; color: #71ff50;"></i>
                                                        <p style="color: #B2B2B2;display: block;font-size: 14px;">
                                                            密码设置完成，有效防止盗号</p>
                                                        <p style="color: #3187ff;display: block;font-size: 14px;padding-top: 2%;">
                                                            已设置 ></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="layui-col-md6">
                                                <div class="layui-card pchover">
                                                    <div class="layui-card-body" onclick=window.location="/phoneBinding">
                                                        <p style="display: inline-block;font-size: 16px;">绑定手机</p>
                                                        <i class="layui-icon layui-icon-ok-circle"
                                                           style="font-size: 16px; color: #71ff50;"></i>
                                                        <p style="color: #B2B2B2;display: block;font-size: 14px;">
                                                            手机绑定完成，便于身份验证</p>
                                                        <p style="color: #3187ff;display: block;font-size: 14px;padding-top: 2%;">
                                                            已绑定 ></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="layui-row layui-col-space30" style="padding-bottom: 2%;">
                                            <div class="layui-col-md6">
                                                <div class="layui-card pchover">
                                                    <div class="layui-card-body" onclick=window.location="/emailBinding">
                                                        <p style="display: inline-block;font-size: 16px;">绑定邮箱</p>
                                                        <i class="layui-icon layui-icon-ok-circle"
                                                           style="font-size: 16px; color: #71ff50;"></i>
                                                        <p style="color: #B2B2B2;display: block;font-size: 14px;">
                                                            密码设置完成，有效防止盗号</p>
                                                        <p style="color: #3187ff;display: block;font-size: 14px;padding-top: 2%;">
                                                            已设置 ></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space30">
                            <div class="layui-col-md6">
                                <div class="layui-card pchover">
                                    <div class="layui-card-body">
                                        <div style="text-align: center;padding-top: 4%;padding-bottom: 4%;">
                                            <i class="layui-icon layui-icon-chat" style="font-size: 50px;color: #0000FF;"></i>
                                            <p style="font-size: 16px;">账号申诉</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-md6">
                                <div class="layui-card pchover">
                                    <div class="layui-card-body">
                                        <div style="text-align: center;padding-top: 4%;padding-bottom: 4%;">
                                            <i class="layui-icon layui-icon-close-fill" style="font-size: 50px;color: #0000FF;"></i>
                                            <p style="font-size: 16px;">账号注销</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script>
    layui.use('element', function () {
        var element = layui.element;
    });


    window.onload = function () {
        var score = 1

        var name=document.getElementById("name").innerText
        var picture = document.getElementById("picture0").innerText

        //用户手机号是否为空
        $.ajax({
            type: "get",
            url: "/user/getPhone",
            async:false,
            data: {
                name:name
            },
            dataType: "text",
            success: function (msg) {
                if (msg != "") {
                    //console.log(msg)
                    var reg = /^(\d{3})\d{6}(\d{2})$/
                    document.getElementById("phone1").innerText = msg.replace(reg, '$1******$2') + " >"
                    score += 1
                } else {
                    document.getElementById("phone1").innerText = "去绑定 >"
                }
            },
            error: function () {
                layer.msg("请求失败")
            }
        })


        //用户邮箱号是否为空
        $.ajax({
            type: "get",
            url: "/user/getEmail",
            async:false,
            data: {
                name:name
            },
            dataType: "text",
            success: function (msg) {
                if (msg != "") {
                    //console.log(msg)
                    document.getElementById("email1").innerText = msg.substring(0, 3) + "***" + msg.substr(msg.indexOf("@")) + ">"
                    score += 1
                } else {
                    document.getElementById("email1").innerText = "去绑定 >"
                }
            },
            error: function () {
                layer.msg("请求失败")
            }
        })

        //用户图像是否为空
        if (picture != "") {
            score += 1
        } else {

        }

        //填充分数
        document.getElementById("score1").innerText = (score / 4) * 100

        //用户信息完整度评分
        layui.use(['rate'], function () {
            var rate = layui.rate;

            //只读
            rate.render({
                elem: '#test1'
                , length: 5 //自定义长度
                , half: true
                , value: score / 4 * 5
                , readonly: true
                , theme: '#fbff2e' //自定义主题色
            });
        });
    }

    //退出登录
    function logout() {
        $.ajax({
            type: "post",
            url: "/user/logout",
            data: {},
            dataType: "text",
            success: function (msg) {
                if (msg == "1") {
                    // alert("登出成功!");
                    window.location.href = "/login";
                } else {
                    alert("登出失败!");
                }
            },
            error: function () {
                alert("请求失败!");
            }
        })
    }
</script>
</body>
</html>