<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心</title>
    <cite id="name" th:text="${session.name}" hidden></cite>
    <cite id="phone0" th:text="${session.phone}" hidden></cite>
    <cite id="email0" th:text="${session.email}" hidden></cite>
    <cite id="picture0" th:text="${session.picture}" hidden></cite>
    <cite id="password1" th:text="${session.password1}" hidden></cite>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>


<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="color: white"><!--<img th:src="@{/images/baidu.jpg}"  class="logo"></img>-->
            个人中心
        </div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/personalCenter">返回首页</a></li>
            <li class="layui-nav-item">
                <a href="#2">
                    <img th:src="@{/images/picture.jpg}" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>


    <!-- 内容主体区域 -->
    <div class="layui-body">
        <div class="layui-layout-body">
            <div class="layui-layout layui-layout-admin">
                <!--左侧-->
                <div class="layui-side layui-bg-black">
                    <div class="layui-side-scroll">
                        <!-- 左侧导航区域（可配合layui已有的垂直导航） &ndash;&gt;-->
                        <ul class="layui-nav layui-nav-tree" lay-filter="test">
                            <div style="float: top">
                                <div align="center" style="padding-top:15%;padding-bottom:10%;">
                                    <img th:src="@{/images/picture.jpg}" class="layui-circle"
                                         style="display: block;padding-bottom: 5%;" width="30%" height="30%">
                                    <p th:text="${session.name}"
                                       style="display: block;font-size: large;font-weight: bolder;padding-bottom:5%;"></p>
                                </div>

                                <li class="layui-nav-item"><a href="/updatePassword1"><p style="float: left;color: white">登录密码</p>
                                    <p style="float:right;font-size: 10px">已设置 ></p></a></li>
                                <li class="layui-nav-item"><a href="/phoneBinding"><p style="float: left;color: white">绑定手机</p>
                                    <p style="float:right;font-size: 10px" id="phone1"></p></a></li>
                                <li class="layui-nav-item"><a href="/emailBinding"><p style="float: left;color: white">绑定邮箱</p>
                                    <p style="float:right;font-size: 10px" id="email1">已设置 ></p></a></li>

                                <li class="layui-nav-item"><a href=""><p style="float: left;color: white">账号申诉</p>
                                    <p style="float:right;font-size: 10px">已设置 ></p></a></li>
                                <li class="layui-nav-item"><a href=""><p style="float: left;color: white">账号注销</p>
                                    <p style="float:right;font-size: 10px">已设置 ></p></a></li>
                            </div>
                        </ul>
                    </div>
                </div>


                <div class="layui-body" style="bottom: 0px;background-color: #F2F2F2;">
                    <div style="padding-left: 10%;padding-right: 10%;padding-top: 5%;">

                        <div class="layui-col-md12">
                            <div class="layui-card" style="border-radius: 10px;">
                                <div class="layui-card-header">
                                    <label style="font-weight:bolder;font-size: 16px;">修改账户密码</label>
                                    <label style="color: #8D8D8D;font-size: 12px;">为了您的账户安全，请定期修改密码。</label>
                                    <label style="color: #0000FF;font-size: 12px;">忘记密码？</label>
                                </div>

                                <div class="layui-card-body">

                                    <form class="layui-form" style="padding-top: 5%;padding-bottom: 5%;padding-left: 25%;padding-right: 25%;" onsubmit="return false;">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">原&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>
                                            <div class="layui-input-block">
                                                <input type="password" name="opw" required lay-verify="required"
                                                       autocomplete="off"
                                                       class="layui-input">
                                                <label style="color: red;" id="pw0lb"></label>
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">新&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>
                                            <div class="layui-input-block">
                                                <input type="password" name="npw1" required lay-verify="required"
                                                       autocomplete="off"
                                                       class="layui-input">
                                                <label style="color: red;" id="pw1lb"></label>
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">确认密码：</label>
                                            <div class="layui-input-block">
                                                <input type="password" name="npw2" required lay-verify="required"
                                                       autocomplete="off"
                                                       class="layui-input">
                                                <label class="layui-input-inline" style="color: red;" id="pw2lb"></label>
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button class="layui-btn" lay-submit lay-filter="formDemo">确认</button>
                                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script>
    layui.use('element', function () {
        var element = layui.element;
    });


    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            //layer.msg(JSON.stringify(data))
            //用户名
            var username=document.getElementById("name").innerText
            //原密码
            var pw1=document.getElementById("password1").innerText

            var pw11=document.getElementsByName("opw")[0].value
            var pw21=document.getElementsByName("npw1")[0].value
            var pw22=document.getElementsByName("npw2")[0].value

            //判断两次密码是否一致
            if(pw21!=pw22){
                document.getElementById("pw2lb").innerText="两次密码不一致，请重新输入"
            }else{
                //判断原密码是否正确
                if(pw1!=pw11){
                    document.getElementById("pw0lb").innerText="原密码不正确，请重新输入"
                }else{
                    //修改数据库的pw1
                    $.ajax({
                        type: "get",
                        url: "/user/updatePassword1",
                        data: {name:username,password:pw21},
                        dataType: "text",
                        success: function (msg) {
                            console.log(msg)
                            if (msg == pw21) {
                                // alert("登出成功!");
                                layer.msg("修改成功")
                                window.parent.location.reload()
                            } else {
                                layer.msg("修改失败!");
                            }
                        },
                        error: function () {
                            layer.msg("请求失败!");
                        }
                    })
                }
            }


            return false;
        });
    });


    window.onload = function () {
        var phone = document.getElementById("phone0").innerText
        var email = document.getElementById("email0").innerText
        var picture = document.getElementById("picture0").innerText

        //用户手机号是否为空
        if (phone != null) {
            var reg = /^(\d{3})\d{6}(\d{2})$/
            document.getElementById("phone1").innerText = phone.replace(reg, '$1******$2') + " >"

        } else {
            document.getElementById("phone1").innerText = "去绑定 >"
        }

        //用户邮箱号是否为空
        if (email != null) {
            document.getElementById("email1").innerText = email.substring(0, 3) + "***" + email.substr(email.indexOf("@")) + ">"

        } else {
            document.getElementById("email1").innerText = "去绑定 >"
        }

        //用户图像是否为空
        if (picture != "") {

        } else {

        }
    }
</script>
</body>
</html>