<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <base href="http://localhost:8763/netdisk/v1/" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Netdisk</title>
    <link rel="stylesheet" th:href="@{http://localhost:8040/layui/css/layui.css}">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{http://localhost:8040/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{http://localhost:8040/js/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{http://localhost:8040/myjs/PageInit.js}"></script>
    <script type="text/javascript" th:src="@{http://localhost:8040/js/cookie/token.js}"></script>
    <script type="text/javascript" th:src="@{http://localhost:8040/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{http://localhost:8040/js/signInAndSignUp/logout.js}"></script>

    <style>
        .pchover{
            border-color: rgba(0,0,0,0.15);
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
        }

        .pchover:hover{
            border-color: #1E9FFF;
            border-radius: 10px;
            border-width: 2px;
            border-style: solid;
        }

        .layui-layout-admin .layui-side {
            top: 0px;
        }

        .layui-layout-admin .layui-body {
            top: 0px;
        }

        .logo {
            position: relative;
        }

        .logo-character {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -40px;
            margin-top: -10px;
        }

        .layui-nav-tree .layui-nav-item a:hover {
            background-color: white;
        }

        .layui-nav-itemed > a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
             color: #0C0C0C !important
         }

        .layui-nav-itemed > .layui-nav-child {
            display: block;
            padding: 0;
            background-color: white !important;
        }

        .layui-nav-tree .layui-nav-child a {
            height: 40px;
            line-height: 40px;
            color: #fff;
            color: #0C0C0C;
        }

        .layui-nav-tree .layui-nav-child, .layui-nav-tree .layui-nav-child a:hover {
            background: 0 0;
            color: #0C0C0C;
        }

        .layui-nav-tree .layui-nav-bar {
            width: 0px;
            height: 0;
        }

        .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
            background-color: #eee;
            color: #fff;
        }
    </style>

    <cite id="uid" hidden></cite>
    <cite id="path1" hidden></cite>  <!--当前用户根目录-->
    <cite id="path2" hidden></cite>  <!--当前用户目前所在目录-->
</head>


<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-side layui-bg-black" style="background-color: white;">
        <div class="layui-side-scroll" style="background-color: white;">
            <ul class="layui-nav layui-nav-tree" lay-filter="test" style="background-color: white;text-align: center;">

                <li class="logo" style="height: 50px;width: 200px;color: #0C0C0C;">
                    <div class="logo-character" style="font-weight: bolder;font-size: 16px;text-align: center;">伐木累网盘
                    </div>
                </li>

                <li style="position:relative;margin-top: 20px;margin-bottom: 20px;" class="layui-bg-gray">
                    <a href="user/page_personalCenter">
                        <div class="layui-inline">
                            <img class="layui-circle" src="http://localhost:8040/images/picture.jpg" width="40px" height="40px;" id="mypicture">
                        </div>
                        <div class="layui-inline" style="position: relative;left: 10px;color: #0C0C0C;">
                            <p id="username" style="font-weight: bold;font-size: 14px;">用户姓名</p>
                            <p id="userroles" style="font-size: 10px;">用户角色</p>
                        </div>
                    </a>
                </li>

                <li class="layui-nav-item">
                    <a href="user/page_first" style="color: #0C0C0C;position: relative;">
                        <i class="fa fa-pie-chart" style="font-size: 18px; color: grey;"></i>
                        <span style="margin-left: 20px;">使用详情</span>
                    </a>
                </li>


                <li class="layui-nav-item">
                    <a href="user/page_all" style="color: #0C0C0C;position: relative;">
                        <i class="fa fa-folder" style="font-size: 18px; color: grey;"></i>
                        <span style="margin-left: 20px;">全部文件</span>
                    </a>
                </li>

                <li class="layui-nav-item">
                    <a href="user/page_upload" style="color: #0C0C0C;position: relative;">
                        <i class="fa fa-cloud-upload" style="font-size: 18px; color: grey;"></i>
                        <span style="margin-left: 20px;">上传文件</span>
                    </a>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;" style="color: #0C0C0C;position: relative;left: 5px;">
                        <i class="fa fa-cubes" style="font-size: 18px; color: grey;"></i>
                        <span style="margin-left: 20px;">分类文件</span>
                        <i class="fa fa-angle-down"
                           style="font-size: 14px; color: grey;position: relative;left: 10px;"></i>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="user/page_picture" style="color: #0C0C0C;position: relative;left: 10px;">
                                <!--                                <i class="fa fa-picture-o" style="font-size: 18px; color: grey;"></i>-->
                                <span style="margin-left: 20px;">图片文件</span>
                                <span class="layui-badge layui-bg-blue" id="pictureNum" style="margin-left: 10px;">0</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="user/page_word" style="color: #0C0C0C;position: relative;left: 10px;">
                                <!--                                <i class="fa fa-file-text-o" style="font-size: 18px; color: grey;"></i>-->
                                <span style="margin-left: 20px;">文档文件</span>
                                <span class="layui-badge layui-bg-blue" id="wordNum" style="margin-left: 10px;">0</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="user/page_video" style="color: #0C0C0C;position: relative;left: 10px;">
                                <!--                                <i class="fa fa-file-video-o" style="font-size: 18px; color: grey;"></i>-->
                                <span style="margin-left: 20px;">视频文件</span>
                                <span class="layui-badge layui-bg-blue" id="videoNum" style="margin-left: 10px;">0</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="user/page_torrent" style="color: #0C0C0C;position: relative;left: 10px;">
                                <!--                                <i class="fa fa-tumblr-square" style="font-size: 18px; color: grey;"></i>-->
                                <span style="margin-left: 20px;">种子文件</span>
                                <span class="layui-badge layui-bg-blue" id="torrentNum" style="margin-left: 10px;">0</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="user/page_music" style="color: #0C0C0C;position: relative;left: 10px;">
                                <!--                                <i class="fa fa-file-audio-o" style="font-size: 18px; color: grey;"></i>-->
                                <span style="margin-left: 20px;">音频文件</span>
                                <span class="layui-badge layui-bg-blue" id="musicNum" style="margin-left: 10px;">0</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="user/page_other" style="color: #0C0C0C;position: relative;left: 10px;">
                                <!--                                <i class="fa fa-file-o" style="font-size: 18px; color: grey;"></i>-->
                                <span style="margin-left: 20px;">其他文件</span>
                                <span class="layui-badge layui-bg-blue" id="otherNum" style="margin-left: 10px;">0</span>
                            </a>
                        </dd>
                    </dl>
                </li>

                <!--<li class="layui-nav-item">
                    <a href="user/page_privateSpace" style="color: #0C0C0C;position: relative;">
                        <i class="fa fa-lock" style="font-size: 18px; color: grey;"></i>
                        <span style="margin-left: 20px;">私密空间</span>
                    </a>
                </li>-->

                <li class="layui-nav-item">
                    <a href="javascript:;" style="color: #0C0C0C;position: relative;left: 5px;">
                        <i class="fa fa-share-alt" style="font-size: 18px; color: grey;"></i>
                        <span style="margin-left: 20px;">我的分享</span>
                        <i class="fa fa-angle-down"
                           style="font-size: 14px; color: grey;position: relative;left: 10px;"></i>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="user/page_myshare" style="color: #0C0C0C;position: relative;left: 10px;">
                                <span style="margin-left: 20px;">分享列表</span>
                            </a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="user/getshare" style="color: #0C0C0C;position: relative;left: 10px;">
                                <span style="margin-left: 20px;">获取分享</span>
                            </a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="user/page_recycleBin" style="color: #0C0C0C;position: relative;">
                        <i class="fa fa-trash" style="font-size: 18px; color: grey;"></i>
                        <span style="margin-left: 20px;">回&nbsp;&nbsp;收&nbsp;&nbsp;站</span>
                    </a>
                </li>




                <li class="layui-nav-item">
                    <button type="button" class="layui-btn layui-btn-danger layui-btn-radius"
                            style="position: relative;" onclick="logout()">
                        <i class="fa fa-power-off" style="font-size: 18px; color: white;"></i>
                        <span style="margin-left: 20px;">退出登录</span>
                    </button>
                </li>

                <div style="width: 100%;height: 30px;"></div>
            </ul>
        </div>
    </div>


    <div class="layui-body" style="background-color: gainsboro;">

        <div style="background-color: #1E9FFF;width: 100%;height: 80px;">
            <i class="fa fa-th-large"
               style="font-size: 18px; color: white;float:left;position: relative;margin-left: 30px;top:20px;"></i>
            <p id="username2" style="font-size:14px;color:white;position: relative;float: right;top: 20px;right: 30px;">
                你好，普通用户</p>
        </div>

        <div style="background-color: white;width: 94%;height: 60px;position: relative;margin-top: -30px;left: 3%;right: 3%;border-radius: 5px;">
            <div style="position: absolute;top: 50%;margin-top: -13px;margin-left: 20px;">
                <i class="fa fa-user-circle-o" style="font-size: 20px; color: grey;"></i>
                <span style="margin-left: 10px;font-size: 20px;">个人中心</span>
            </div>
        </div>


        <div style="position: relative;left: 3%;right: 3%;margin-top: 20px;border-radius: 5px;width: 94%;">

            <div class="layui-col-md12">
                <div class="layui-card" style="border-radius: 10px;">
                    <div class="layui-card-body" id="emailyes">
                        <div style="margin-top:3%;margin-bottom: 20%;margin-left: 3%;">
                            <p>已绑定邮箱</p>
                            <p id="email2" style="font-size: 30px;padding-top: 15px;"></p>
                            <p style="padding-top: 15px;color: #B2B2B2">绑定邮箱将作为您身份验证的重要方式，请谨慎操作！</p>

                            <div class="layui-row" style="padding-top: 30px;">
                                <button class="layui-btn layui-btn-normal" onclick="updateEmail()">更换邮箱号
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="layui-card-body" id="emailno">
                        <div style="margin-top:3%;margin-bottom: 20%;margin-left: 3%;">
                            <p>未绑定邮箱</p>
                            <p style="padding-top: 15px;color: #B2B2B2">绑定邮箱将作为您身份验证的重要方式，请谨慎操作！</p>

                            <div class="layui-row" style="padding-top: 30px;">
                                <button class="layui-btn layui-btn-normal" onclick="updateEmail()">去绑定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <div class="layui-footer">
        © netdisk - 共享网盘 -lxy
    </div>
</div>


<!--绑定邮箱页面-->
<form class="layui-form" id="bind-email-page" style="display: none;padding-left: 10%;padding-right: 10%;padding-top: 2%;" onsubmit="return false">
    <div class="layui-form-item" style="margin-top: 20px;margin-left:0px;">
        <label style="display:block;">请输入您要绑定的邮箱号码：</label>
    </div>

    <div class="layui-row">
        <input type="text" placeholder="请输入邮箱号码" required autocomplete="on" id="myemail" style="height: 34px;width: 307px;">
    </div>

    <div class="layui-row" style="margin-top:20px;">
        <button class="layui-btn layui-btn-normal" style="width: 311px;" onclick="emailBind()">确认</button>
    </div>

    <script>
        //邮箱绑定&&更改邮箱号
        function emailBind() {
            var token = "Bearer " + getCookie()
            var uid=document.getElementById("uid").innerText
            var email=document.getElementById("myemail").value

            //修改邮箱号
            $.ajax({
                type: "put",
                url: "http://localhost:8763/user/user/updateEmail",
                headers: {Authorization: token},
                async:false,
                data: {
                    email:email
                },
                dataType: "json",
                success: function (msg) {
                    if (msg['data'] == 1) {
                        layer.msg("绑定成功")
                        setTimeout(function () {
                            window.location="http://localhost:8763/netdisk/v1/user/page_personalCenter"
                        },800)
                    } else {
                        layer.msg("绑定失败",{time:800})
                    }
                },
                error: function () {
                    layer.msg("请求失败",{time:800})
                }
            })
        }
    </script>
</form>



<script>
    layui.use('element', function () {
        var element = layui.element;
    });

    //根据手机号是否已设置，变换界面内容
    window.onload = function initEmailBinding() {
        var token = "Bearer " + getCookie()

        pageInit()

        //获取用户手机号，邮箱号，头像
        $.ajax({
            url: 'http://localhost:8763/user/user/getUserInfo',
            type: 'get',
            headers: {Authorization: token},
            dataType: 'json',
            async: false,
            data: {},
            success: function (msg) {
                if (msg['data']['email'] != null) {
                    document.getElementById("email2").innerText = msg['data']['email'].substring(0, 3) + "***" + msg['data']['email'].substr(msg['data']['email'].indexOf("@"))
                    document.getElementById("emailno").style.display='none'
                } else {
                    document.getElementById("emailyes").style.display='none'
                }
            },
            error: function (msg) {
                layer.msg("请求查询邮箱号失败")
            }
        })
    }

    //更换手机号
    function updateEmail() {
        layui.use('layer', function () {
            var layer = layui.layer;

            layer.open({
                type: 1,
                title: '绑定邮箱',
                area: ['390px', '230px'],
                content: $('#bind-email-page')
            })
        });
    }
</script>
</body>
</html>