<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <cite id="path1" th:text="${session.syspath}" hidden></cite>
    <cite id="path2" th:text="111" hidden></cite>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">

    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/urlDecode.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>


<body>
<div>
    <div style="position: absolute;z-index: 1000">
        <button class="layui-btn" onclick="back()">返回上一级</button>
    </div>

    <div style="position:relative;top:3px;z-index: 999">
        <table id="file" lay-filter="file"></table>
    </div>

    <div style="position: relative;">
        <input type="text" id="curpath" style="float: left;width: 220px;height: 32px;margin-left: 5px;">
        <div style="position: relative;margin-left: 250px;">
            <button class="layui-btn" style="float: left" onclick="confirm()">确认</button>
            <button class="layui-btn" style="float: left" onclick="cancel()">取消</button>
        </div>
    </div>
</div>


<script>
    layui.use('element', function () {
        var element = layui.element;
    });

    //动态表格
    layui.use('table', function () {
        var table = layui.table;
        var result = getParameter()
        var uid = result["uid"]
        var ffid = result["ffid"]
        var fid = result["fid"]
        var path = document.getElementById("path1").innerText

        table.render({
            elem: '#file'
            , url: '/folder/findByPath' //数据接口
            , method: 'post'
            , where: {
                uid: uid,
                path: path
            }
            , height: 'full-50'
            , skin: 'nob' //无边框
            , cols: [
                [
                    {field: 'name', unresize: 'true', templet: '#fileicon'}
                ]
            ]
            , id: 'ftable'
        });
    });
</script>

<!--根据文件类型在前面&后面显示图标,"nf-icon"默认隐藏，新建文件夹-->
<script type="text/html" id="fileicon">
    <!--文件夹-->
    <i class="fa fa-folder fa-2x" style="color: yellow;position: relative;top: 10%;">&nbsp;</i>
    <a style="color:#26add0;position: relative;top: 0%;" onclick="reload('{{d.name}}')">{{ d.name }}</a>
</script>
</body>


<script>
    //进一步
    function reload(name) {
        var result=getParameter()
        var uid=result["uid"]

        var curpath=document.getElementById("path2").innerText
        console.log(curpath)
        document.getElementById("path2").innerText=""+curpath+name+"/"
        curpath=document.getElementById("path2").innerText
        console.log(curpath)

        layui.use('table', function () {
        var table=layui.table

        table.reload('ftable', {
            url: '/folder/findByPath'
            , where: { //设定异步数据接口的额外参数，任意设
                uid: uid
                ,path: curpath
            }
        });
        })

        document.getElementById("curpath").value=curpath
    }

    //返回上一层
    function back() {
        var result=getParameter()
        var uid=result["uid"]

        var syspath = document.getElementById("path1").innerText
        var path = document.getElementById("path2").innerText

        //不是根目录才可以
        if (syspath != path) {
            var strs = path.split('/')
            var curpath = ""
            for (var i = 0; i < strs.length - 2; i++) {
                curpath += strs[i] + '/'
            }
            document.getElementById("path2").innerText = curpath

            var table=layui.table
            table.reload('ftable', {
                url: '/folder/findByPath'
                , where: {
                    uid: uid,
                    path: curpath
                }
            });
            document.getElementById("curpath").value=curpath
        }else{
            layer.msg("当前为根目录",{time:1000})
        }
    }

    function confirm(){
        var result=getParameter()
        var uid=result["uid"]
        var ffid=result["ffid"]
        var fid=result["fid"]
        if(ffid==""){
            ffid="null"
        }
        if(fid==""){
            fid="null"
        }
        var path=document.getElementById("curpath").value
        console.log(uid)
        console.log(ffid)
        console.log(fid)
        console.log(path)

        $.ajax({
            url: '/all/copyto',
            type: 'post',
            data: {
                path:path,
                fids:fid,
                ffids:ffid,
                uid:uid,
            },
            success: function (msg) {
                layer.msg('复制成功',{
                    time:1000
                })
            },
            error: function () {
                layer.msg('加速处理中',{
                    time:1000
                })
            }
        })
    }

    function cancel(){
        //layui.layer.closeAll()
        parent.location.reload()
    }

    $(function () {
        var syspath=document.getElementById("path1").innerText
        document.getElementById("path2").innerText=syspath
        document.getElementById("curpath").value=syspath
    })
</script>
</html>